body{
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

header{
    display: flex;
    justify-content: center;
}