body{
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

header{
    display: flex;
    justify-content: center;
}
  
.nav_links{
    /*display: inline-flex;*/
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

.nav_item a:link, a:hover{
    color:blue;
}



